/*CSS : classe générique*/
.section-heading{
    line-height:25px;
    margin-bottom:10px;
}

/*CSS : classe générique*/
.section-heading-title {
    vertical-align: middle;
}

/*CSS : classe générique*/
.section-heading > span{
    vertical-align: baseline;
}

/*CSS : classe Highlight*/
.highlight{
    opacity:1;
    transition:opacity 0.5s ease-in-out;
}

/*CSS : class nonHighlight*/
.nonHighlight{
    opacity:0.4;
    transition:opacity 0.5s ease-in-out;
}

/*CSS : classe fail*/
.fail{
	background-color:rgba(200,0,0,0.3);
	color:red;
	border-color:red;
	font-weight:bold;
    transition:background-color 0.5s ease-in-out !important;
}

/*CSS : classe fail*/
.fail:hover, .fail:focus {
    border-color: red;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(230, 0, 0, 0.9);
    transition: background-color 0.5s ease-in-out !important;
}

/*CSS : classe fail*/
.fail::placeholder{
    color:red;
    font-weight:bold;
}

/*CSS : class fail2*/
.fail2,.success,.Warning{
	position:relative;
}

/*CSS : class fail2*/
.fail2::after,.success::after,.Warning::after{
	font-family:'FontAwesome';
	font-size:30px;
	position:absolute;
	right:10px;
	top:6px;
}

/*CSS : class fail2*/
.fail2::after{
	content:"\f057" !important;
	color:red !important;
}

/*CSS : class fail2*/
.fail2 > input:hover,.fail2 > input:focus,.fail2 > input{
	border-color:red !important;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(230, 0, 0, 0.9) !important;
}

/*CSS : class success*/
.success::after{
	content:"\f058" !important;
	color:green !important;
}

/*CSS : class success*/
.success > input:hover,.success > input:focus,.success > input{
	border-color:#1E9E1E !important;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px #1E9E1E !important;
}

/*CSS : class KO*/
.KO,.KO:hover,.KO:focus{
    background-color: rgba(127,127,127,0.3);
    color: black;
}

/*CSS : class OK*/
.OK, .OK:hover, .OK:focus {
    background-color: #337AB7;
    color: white;
}

/*CSS : class EnvoiOK*/
.EnvoiOK,.EnvoiOK:hover,.EnvoiOK:focus {
    border-color: #1E9E1E;
    background-color: #1E9E1E;
    color: white;
}

/*CSS : class EnvoiNonOK*/
.EnvoiNonOK, .EnvoiNonOK:focus {
    border-color: rgba(255,0,0,0.8);
    background-color: rgba(255,0,0,0.8);
    color: white;
}

/*CSS : class EnvoiNonOK*/
.EnvoiNonOK:hover {
    border-color: red;
    background-color: red;
}

/*CSS : class Warning*/
.Warning::after{
    color:#F6DC12;
    content:"\f071";
}

/*CSS : class Warning*/
.Warning > input,.Warning > input:hover,.Warning > input:focus{
    border-color:#F6DC12;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px #F6DC12;
}

/*CSS : class Warning*/
.WarningMessage{
    color:#F6DC12;
    font-style:italic;
    padding:10px 0;
    transition:all 0.3s ease-in-out;
}

/*CSS : Cach Message*/
.noDisplayGenerique, .noDisplayButton ,.noDisplayMessage{
    height: 0;
    opacity: 0;
    overflow: hidden;
}

/*CSS : Cache Message*/
.displayGenerique, .displayButton, .displayMessage {
    height: 100%;
    opacity: 1;
    overflow: visible;
}

/*CSS : Message Erreur Provenance Destination*/
.erreurProvDest{
	font-size:20px;
	padding-bottom:15px;
}