@font-face{
	font-family:'Segoe UI';
	src:url('../font/segoeui.ttf');
}

@font-face{
	font-family:'Tahoma';
	src:url('../font/Tahoma.ttf');
}

body{
	font-family:'Segoe UI','Tahoma',Verdana;
	min-height:100vh;
	padding:0;
}

header{
	background-image:none;
}

main{
	display:flex;
	flex-direction:column;
	padding:0;
	margin:0;
}

input{
	margin-bottom:5px;
	line-height:19.6px;
	min-height:55px;
	padding:13px 10px 13px 10px;
}

input[type=checkbox]{
    width:20px;
}

label{
	font-size:16px;
	font-weight:normal;
}

mark{
    background-color:inherit;
    padding:0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-transition-delay:9999s;
	-webkit-transition:background-color 9999s ease-out;
}

.btn{
	border-radius:4px;
	text-transform:capitalize;
	line-height:54px;
}

.btn[disabled]{
    opacity:0.8;
}

.form-group{
    margin-bottom:8px;
}

#Column {
    flex-direction:column;
}

#ColumnEmail{
    margin-right:0px;
}

/*Structure Mobile et tablette*/
#vols_du_jour{
	order:1;
}

#météo{
	order:0;
}

#search-flight,#suiviAndAlertBox,.general-news{
	order:2;
}

/*Surcharge bootstrap*/
.bg-primary{
	padding-bottom:20px;
	padding-top:20px;
}

/*Surcharge bootstrap*/
.modal-footer{
    display:flex;
    justify-content:space-between;
}

/*Surcharge header + modal footer*/
.uselessNav{
	display:none;
}

/*Modal footer*/
.useless{
    flex-grow:1;
}


/*Surcharge Bootstrap*/
@media screen and (min-width:800px){
	.container{
		width:770px;
	}
}

/*Surcharge Bootstrap*/
@media screen and (min-width:900px){
	.container{
		width:870px;
	}

    #ContentArrivesDepart {
        width:750px;
    }
}

/*Surcharge Bootstrap*/
@media screen and (min-width:1000px){
	.container{
		width:970px;
	}

    #ContentArrivesDepart {
        width: 850px;
    }
}

/*Surcharge Bootstrap*/
@media screen and (min-width:1100px){
	.container{
		width:1070px;
	}

    #ContentArrivesDepart {
        width: 950px;
    }
}

/*Surcharge Bootstrap*/
@media screen and (min-width:1200px){
	.container{
		width:1170px;
	}

    #ContentArrivesDepart {
        width: 1050px;
    }
}

/*Surcharge bootstrap*/
@media screen and (min-width:1300px){
	.container{
		width:1270px;
	}

    #ContentArrivesDepart {
        width: 1150px;
    }
}

/*Sucharge bootstrap*/
@media screen and (min-width:1400px){
	.container{
		width:1370px;
	}

    #ContentArrivesDepart {
        width: 1250px;
    }
}

/*Surcharge bootstrap*/
@media screen and (min-width:1600px){
	.container{
		width:1570px;
	}

    #ContentArrivesDepart {
        width: 1450px;
    }
}

/*Surcharge Bootstrap*/
@media screen and (min-width:1800px){
	.container{
		width:1770px;
	}

    #ContentArrivesDepart {
        width: 1650px;
    }
}

/*CSS : Surchage caroussel*/
#slider{
	padding:0;
}

/*CSS : suivi bagages + Alrte flash Vol*/
.suiviAndAlert{
	display:flex;
	flex-direction:column;
}

/*CSS : suivi bagages*/
.suiviBagages{
	order:2;
	margin:50px 0px 20px 0px;	
}

/*CSS : Alerte flash vol*/
.flash-alert {
    order: 1;
}

/*CSS : classe générique*/
.section-heading{
	line-height:25px;
	margin-bottom:10px;
}

/*CSS : classe générique*/
.section-heading-title {
    vertical-align: middle;
}

/*CSS : classe générique*/
.section-heading > span{
	vertical-align: baseline;
}

/*CSS : Suivi bagages*/
.suitcase{
	margin-right:10px;
	vertical-align: baseline;
}

.plane{
	margin-right:20px;
	transform:rotate(45deg);
	vertical-align:middle;
}

/*CSS : Suivi Bagages*/
.coordonnees-label{
	color:black;
	line-height:15px;
	margin-bottom:10px;
}

/*CSS : SuiviBagages*/
.coordonnees-label > span{
	font-size:18px;
	vertical-align:baseline;
	white-space:nowrap;
	word-wrap:break-word;
}

/*CSS : SuiviBagages*/
.user{
	font-size:25px;
	margin-right:10px;
	vertical-align:baseline;
}

/*CSS : SuiviBagages*/
.ChoixSuivi{
    display:flex;
}

/*CSS : SuiviBagages*/
.ChoixSuivi > span{
    font-size:18px;
    font-style:italic;
}

/*CSS : SuiviBagages*/
.RadioButton{
    display:flex;
    padding-left:15px;
}

/*CSS : SuiviBagages*/
.RadioButton > span{
    display:block;
}

/*CSS : SuiviBagages*/
.RadioButton > button{
    width:100px;
    line-height:20px;
}

/*CSS : SuiviBagages*/
.RadioButton > button:first-child{
    margin-right:15px;
}

/*CSS : SuiviBagages*/
.RadioButton > button:focus{
    border:none;
}

/*CSS : Recherche-vol + Alerte flash Vol*/
.search-flight, .flash_alert, footer {
    margin: 0;
}

/*CSS : Recherche vol*/
.search-flight{
	padding:20px 0;
}

/*CSS : Recherche-vol + Alerte Flash Vol*/
.form-flight-search,.flash_alert-form{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	margin:0px 0px 5px 0px;
}

/*CSS : Recherche vol*/
.form-flight-search{
	flex-direction:column;
}

/*Recherche Vol*/
.DepartsArrivésContainer{
	display:flex;
	justify-content:space-between;
	padding:20px 0px 15px 0px;
}

/*Recherche Vol*/
.DepartsArrivésContainer > div{
	flex-grow:1;
}

/*Recherche Vol*/
.WrapperDépartsArrivés{
	display:flex;
}

/*Recherche Vol*/
.WrapperDépartsArrivés > div{
	flex-grow:1;
}

/*Recherche Vol*/
.Departs{
	margin-right:10px;
}

/*Recherche vol*/
.DatePicker{
	margin-left:10px;
	max-width:180px;
}

/*Recherche Vol*/
.DatePickerInput{
	position:relative;
}

/*Recherche Vol*/
.DatePickerInput::after{
	position:absolute;
	font-family:'FontAwesome';
	font-size:25px;
	content:"\f073";
	right:10px;
	top:10px;
	color:#F05F40;
}

/*Recherche Vol*/
#datepicker{
	background-color:white;
}

/*Recherche Vol*/
.ui-datepicker{
	font-size:15px;
}

/*Recherche Vol*/
.RechercherVol{
	background-color:#337AB7;	
	color:white;
	transition:all 0.3s ease-in-out;
}

/*CSS : Recherche Vol*/
.RechercherVol:hover{
	background-color:rgba(0,0,0,0.9);
	color:white;
	transition:all 0.3s ease-in-out;
}

/*CSS : Rechercher Vol*/
.RechercherVol:focus{
	background-color:black;
	color:white;
}

/*Recherche Vol*/
.Rechercher{
	position:relative;
	line-height:54px;
}

/*Rechercher Vol*/
.Rechercher::after{
	color:white;
	font-family:'FontAwesome';
	font-size:40px;
	position:absolute;
	content:"\f002";
	top:5px;
	right:15px;
	line-height:54px;
	vertical-align:middle;
}

/*Recherche Vol --> Tablette*/
@media screen and (max-width:768px){
	.DepartsArrivésContainer{
		flex-direction:column;
	}

	.DatePicker{
		margin-left:0px;
		max-width:100%;
	}
}

/*CSS : Alerte Flash Vol + Suivi Bagages*/
.flash_alert-num_vol,.SuiviBagages_form-content{
	flex:0 0 100%;
	flex-wrap:wrap;
	padding:10px 0px 0px 0px;
	word-wrap:break-word;
}

/*CSS : News Général*/
.title_news{
	display:flex;
	justify-content:space-between;
}

/*CSS : News Général*/
.hidebutton{
	cursor:pointer;
	color:white;
	display:none;
	line-height:40px;
	vertical-align:middle;
}

/*CSS : News Général*/
.rotate{
	transition:all 0.4s ease-in-out;
}

/*CSS : Alerte Flash Vol*/
.flash_alert-num_vol-content{
	justify-content:space-between;
}

/*CSS : Alerte Flash Vol + Suivi Bagages*/
.flash_alert-num_vol-label,.suiviBagages_num_vol-label{
	font-size:18px;
	white-space:nowrap;
	word-wrap:break-word;
}

/*CSS : Alerte Flash Vol + Suivi Bagages*/
.search-box {
    color: rgb(45,42,44);
    flex: 1 1 auto;
    font-size: 15px;
    -webkit-box-flex: 1;
}

/*CSS : Alerte Flash Vol + Suivi Bagages*/
.search-box-inner {
    display: flex;
    position: relative;
}

/*CSS : Alerte Flash Vol + Suivi Bagages*/
.flash_alert-num_vol-input,.suiviBagages-num_vol-input{
	flex:1 1 auto;
	font-weight:100;
	-webkit-box-flex:1;
}

/*CSS : Alerte Flash Vol*/
.buttonAjoutSuppr {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    line-height:34px;
    vertical-align:middle;
}

/*CSS : Alerte Flash Vol*/
.buttonAjoutSuppr > span {
    cursor:pointer;
    font-size:50px;   
}

/*CSS : Alerte Flash Vol*/
.Ajout {
    padding-right:15px;
    color: #1E9E1E;
    vertical-align: middle;
}

/*CSS : Alerte Flash Vol*/
.Ajout:hover {
    text-shadow: 0px 0px 1px #1E9E1E;
}

/*CSS : Alerte Flash Vol*/
.Suppr {
    color: red;
    vertical-align: middle;
}

/*CSS : Alerte Flash Vol*/
.Suppr:hover {
    text-shadow: 0px 0px 1px red;
}

/*CSS : Vols du jour*/
#vols_du_jour{
	padding:30px 0;
}

/*CSS : Vols du jour*/
#ArrivesDepart {
    margin-right: auto;
    margin-left: auto;
}

/*CSS : Vols du jour*/
.ArrivesDepartTitreColumn > th {
    font-size: 17px;
}

/*CSS : Vols du Jour*/
.ArrivesDepartTitreColumn > th, .ArrivesDepartData > tr > td {
    padding: 0px 20px 20px 20px;
    text-align: center;
}

/*CSS : Vols du jour*/
.ArrivesDepartTitreColumn > th:first-child, .ArrivesDepartData > tr > td:first-child {
    padding-left: 5px;
}

/*CSS : Vols du jour*/
.ArrivesDepartTitreColumn > th:last-child, .ArrivesDepartData > tr > td:last-child {
    padding-right: 5px;
}

/*CSS : Vols du jour*/
.ArrivesDepartData > tr > td {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    line-height: 30px;
}

/*CSS : Vols du jour*/
.ArrivesDepartData > tr > td > img{
    height:50px;
    width:100px;
}

/*CSS : Vols du jour*/
#EnvoiOkArrivesDepart:hover {
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px #1E9E1E;
}

/*CSS : Vols du jour*/
.logoCompagny {
    padding-bottom: 10px;
}

/*CSS : Vols du jour*/
@media screen and (min-width:768px){
    #ContentArrivesDepart {
        width:750px;
    }
}
/*CSS : Vols du jour*/
@media screen and (max-width:850px){
    .ArrivesDepartTitreColumn > th{
        font-size:14px;
    }

    .ArrivesDepartData > tr > td{
        font-size:12px;
    }

    .ArrivesDepartTitreColumn > th, .ArrivesDepartData > tr > td {
        padding: 0px 15px 10px 15px;
    }
}

@media screen and (max-width:600px){
    .modal-body{
        overflow-x:auto;
    }

    .ArrivesDepartData > tr{
        width:600px;
    }
}
/*CSS : Alerte Flash Vol + Vols du jour + Suivi Bagages*/
.CoteACote{
	font-size:15px;
	padding:10px 0px 10px 0px;
	word-wrap:break-word;
}

/*CSS : Alerte Flash Vol + Vols du jour + Suivi Bagages*/
.CoteACote-inner{
	display:flex;
	justify-content:space-between;
}

/*CSS : Alerte Flash Vol + Vols du jour*/
.button_dep,.button_arr{
	display:flex;
	flex-grow:1;
}

/*CSS : Alerte Flash Vol*/
.submit{
	margin-top:0px;
}

/*CSS : Vols du jour + Suivi Bagages*/
.button_arr{
	margin-right:5px;
}

/*CSS : Suivi Bagages*/
.SuiviBagages-nom,.email{
	margin-right:10px; 
}

/*CSS : Suivi Bagages*/
.noDisplayEmailTel, .noDisplayButton {
    height: 0;
    opacity: 0;
    overflow: hidden;
}

/*CSS : Suivi Bagages*/
.displayEmailTel, .displayButton {
    height: 100%;
    opacity: 1;
    overflow: visible;
}

/*CSS : Alerte Flash Vol + Vols du jour*/
.button_dep{
	margin-left:5px;
	margin-right:0px;
}

/*CSS : Vols du jour + Alerte flash Vol */
.button_dep_arr_label,.submit-button{
	background-color:#337AB7;
	color:white;
}

/*CSS : Vols du jour*/
.submit-button {
    background-color: gray;
    transition: all 0.3s ease-in-out;
}

/*CSS : Vols du jour*/
.submit-button:hover {
    background-color:rgba(0,0,0,0.9);
    color:white;
    transition: all 0.3s ease-in-out;
}

/*CSS : Vols du jour*/
.button_dep_arr_label{
	background-color:rgba(0,0,0,0.6);
}

/*CSS : Vols du jour*/
.button_dep_arr_label > span{
	margin-left:15px;
}

/*CSS : Vols du jour*/
.button_dep_arr_label > img{
	margin-right:15px;
}

/*CSS : Vols du jour*/
.button_dep_arr_label:hover,.flash_alert-button-label:hover{
	background-color:rgba(0,0,0,0.9);
	color:white;
}

/*CSS : Vols du jour*/
.button_dep_arr_label:focus{
	outline:none;
	background-color:black;
	color:white;
}

/*CSS : Suivi + Alerte flash Vol*/
#suiviAndAlertBox{
	padding-top:20px;
	padding-bottom:20px;
}

/*CSS : Alerte flash vol*/
.flash_alert-form{
	margin-bottom:0px;
}

/*CSS : Alerte flash vol*/
.flash_alert-coordonnees,.SuiviBagages-EmailTel{
	flex-grow:1;
	font-size:15px;
	padding:10px 0px 10px 0px;
	word-wrap:break-word;
}

/*CSS : Suivi bagages*/
.SuiviBagages-EmailTel{
    transition:all 0.4s ease-in-out;
}

/*CSS : Style pour les inputs*/
.tel,.email, .SuiviBagages-prénom,.SuiviBagages-nom {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    font-size: 15px;
    -webkit-box-flex: 1;
    position: relative;
}


/*CSS : Style pour les inputs*/
.email::before,.tel::before,.search-box-inner::before{
	font-family:'FontAwesome';
	font-size:25px;
	position:absolute;
}

/*CSS : Style pour les inputs*/
.email::before{
	left:10px;
	top:11px;
	content:"\f1fa";
}

/*CSS : Style pour les inputs*/
.tel::before{
	left:10px;
	top:12px;
	content:"\f095";
}

/*CSS : Style pour les inputs*/
.search-box-inner::before{
	left:10px;
	top:11px;
	content:"\f072";
	transform:rotate(-45deg);
}

/*CSS : Style pour les inputs*/
.emailInput, .telInput, .suiviBagages-num_vol-input, .flash_alert-num_vol-input {
    text-indent: 35px;
}

/*CSS : News Général*/
.news_container{
    transition:all 0.3s ease-in-out;
}

/*CSS : News général*/
.general-news{
	padding-right:10px;
}

/*CSS : News général*/
.title_column_news {
    display: none;
}

/*CSS : Météo*/
#météo{
	padding:20px 0px;
}

/*CSS : Météo*/
.title_météo{
	display:flex;
	justify-content:space-between;
	line-height:30px;
}

/*CSS : Météo*/
.title_météo > h2{
	line-height:30px;
	vertical-align:middle;
}

/*CSS : Météo*/
.choixIles{
	display:none;
	padding:5px 10px 5px 10px;
	min-height:30px;
}

/*CSS : Météo*/
.météoWrapper{
	display:flex;
	justify-content:space-between;
}

/*CSS : Météo*/
.météoWrapper > div {
    padding-left: 20px;
    display: block;
    flex-grow: 1;
}

/*CSS : Météo*/
.temperature{
	font-size:22px;
}

/*CSS : Météo*/
.météoContent{
	line-height:50px;
	padding:15px 0;
	position:relative;
}

/*CSS : Météo*/
.météoContent > img{
	position:absolute;
	right:0px;
    vertical-align:middle;
}

/*CSS : Météo*/
.temperature > mark{
	background-color:inherit;
	font-size:20px;
}

/*CSS : Météo --> Tablette et mobile*/
@media screen and (max-width:768px){
	.météoWrapper{
		flex-direction:column;
	}

	.météoWrapper > div:not(:first-child){
		padding-left:15px;
	}

	.choixIles{
		display:block;
	}

	.météoWrapper > div{
		display:none;
		padding-right:15px;
	}

}

/*CSS : Météo --> PC*/
@media screen and (min-width:768px){
    header{
        min-height:0%;
    }
}

/*CSS : Mobile + Tablette*/
@media screen and (max-width:1000px){
	#CoteACote-inner{
		flex-direction:column;
	}
	
	.email{
		margin-bottom:5px;
		margin-right:0px;
	}

	.container{
		padding:0 15px;
	}
}

/*CSS : Vols du jour*/
@media screen and (max-width:768px) {
    .button_dep_arr_label > span {
        margin-left: 7px;
    }

    /*CSS : Vols du jour*/
    .button_dep_arr_label > img {
        margin-right: 7px;
    }

    .hidebutton {
        display: block;
    }

    .noDisplay {
        height:0;
        opacity:0;
        overflow:hidden;
    }

    .display{
        height:100%;
        opacity:1;
        overflow:visible;
    }
}


/*CSS : Mobile*/
@media screen and (max-width:640px){
	.WrapperDépartsArrivés{
		flex-direction:column;
	}

	.Departs{
		margin-right:0px;
	}

	.ui-datepicker{
		font-size:13px;
	}

	#suiviAndAlertBox{
		margin-top:0px;
	}
	
	.suiviBagages{
		margin-top:30px;	 
	}

	h2{
		font-size:25px;
	}

	.myNav{
		display:flex;
		justify-content:space-between;
		word-wrap:break-word;
	}
	
	.first{
		order:1;
	}
	
	.uselessNav{
		display:block;
		flex-grow:1;
		order:2;
	}
	
	.second{
		order:3;
	}
 
}

/*CSS : Mobile*/
@media screen and (max-width:550px){
    /*CSS : SuiviBagages*/
    .ChoixSuivi {
        flex-direction: column;
    }

    /*CSS : SuiviBagages*/
    .RadioButton{
        padding-left:0px;
        padding-top:10px;
    }
    
    /*CSS : SuiviBagages*/
    .RadioButton > button{
        max-width:100%;
        flex-grow:1;
        justify-content:space-between;
    }
}

/*CSS : Mobile*/
@media screen and (max-width:400px){
    #Column400{
        flex-direction:column;
    }

    .SuiviBagages-nom{
        margin-right:0px;
    }
}

/*CSS : classe fail*/
.fail{
	background-color:rgba(200,0,0,0.3);
	color:red;
	border-color:red;
	font-weight:bold;
}

.fail:hover,.fail:focus{
	border-color:red;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(230, 0, 0, 0.9);
}

/*CSS : class fail2*/
.fail2,.success{
	position:relative;
}

.fail2::after,.success::after{
	font-family:'FontAwesome';
	font-size:30px;
	position:absolute;
	right:10px;
	top:6px;
}

.fail2::after{
	content:"\f057";
	color:red;
}

.fail2 > input:hover,.fail2 > input:focus,.fail2 > input{
	border-color:red;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(230, 0, 0, 0.9);
}

/*CSS : class success*/
.success::after{
	content:"\f058";
	color:green;
}

/*CSS : class success*/
.success > input:hover,.success > input:focus,.success > input{
	border-color:#1E9E1E;
    background-color:white;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px #1E9E1E;
}

/*CSS : class KO*/
.KO,.KO:hover,.KO:focus{
    background-color: rgba(127,127,127,0.3);
    color: black;
}

/*CSS : class OK*/
.OK, .OK:hover, .OK:focus {
    background-color: #1E9E1E;
    color: white;
}

/*CSS : class EnvoiOK*/
.EnvoiOK,.EnvoiOK:hover,.EnvoiOK:focus {
    border-color: #1E9E1E;
    background-color: #1E9E1E;
    color: white;
}

/*CSS : class EnvoiNonOK*/
.EnvoiNonOK,.EnvoiNonOK:focus{
    border-color:red;
    background-color:red;
    color:white;
}

/*CSS : class EnvoiNonOK*/
.EnvoiNonOK:hover {
    border-color:rgba(255,0,0,0.6);
    background-color: rgba(255,0,0,0.6);
}

