@import "SurchargeBootstrap.css" screen;
@import "SuiviEtAlert.css" screen;

@font-face {
    font-family: 'Segoe UI';
    src: url('../font/segoeui.ttf');
}

@font-face {
    font-family: 'Tahoma';
    src: url('../font/Tahoma.ttf');
}

body{
	font-family:'Segoe UI','Tahoma',Verdana;
	min-height:100vh;
	padding:0;
}

header{
	background-image:none;
}

main{
	display:flex;
	flex-direction:column;
	padding:0;
	margin:0;
}

input{
	margin-bottom:5px;
	line-height:19.6px;
	min-height:55px;
	padding:13px 10px 13px 10px;
}

label, .labelPerso {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 0px;
    padding-bottom: 5px;
    word-wrap: break-word;
}

mark{
    background-color:inherit;
	color:inherit;
    padding:0;
}

select {
    line-height: 19.6px;
    min-height: 55px;
}

footer {
    font-family: 'Trebuchet MS','Tahoma','Segoe UI',Verdana;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	transition:background-color 9999s ease-out;
}

section{
	padding:20px 0;
}

h1,h2,h3,h4{
    font-family:inherit;
}

select:-moz-focusring {
	color: transparent;
    text-shadow: 0 0 0 #000;
}

tr[active="OK"]{
	display:table-row;
}

tr[active="KO"]{
	display:none;
}

tr[active="OK"]:last-child > td{
	border-bottom:none !important; 
}

#Column {
    flex-direction:column;
}

#ColumnEmail{
    margin-right:0px;
}

/*Structure Mobile et tablette*/
#vols_du_jour{
	order:1;
}

#météo{
	order:0;
}

#search-flight,#suiviAndAlertBox,.general-news{
	order:2;
}

/*CSS : Suivi bagages + Alerte flash Vol*/
.suiviAndAlert{
	display:flex;
}

/*CSS : Suivi bagages + Alerte flash vol*/
.suiviAndAlert > div{
	flex-grow:1;
	flex-basis:0;
}

/*CSS : Suivi bagages*/
.suiviBagages{
	order:2;
	margin-left:20px;
}

/*CSS : Alerte flash vol*/
.flash-alert {
    order: 1;
}

/*CSS : Suivi bagages*/
.suitcase{
	margin-right:10px;
	vertical-align: baseline;
}

/*CSS : Suivi bagages*/
.plane{
	margin-right:20px;
	transform:rotate(45deg);
	vertical-align:middle;
}

/*CSS : Suivi Bagages*/
.coordonnees-label{
	color:black;
	line-height:15px;
	margin-bottom:10px;
}

/*CSS : SuviiBagages*/
.coordonnees-label > i{
	font-size:25px;
}

/*CSS : SuiviBagages*/
.coordonnees-label > span{
	margin-left:10px;
	font-size:18px;
	vertical-align:baseline;
	white-space:nowrap;
	word-wrap:break-word;
}

/*CSS : SuiviBagages*/
.ChoixSuivi,.QuestionVol{
    display:flex;
}

/*CSS : SuiviBagages*/
.QuestionVol{
	padding-bottom:10px;
}

/*CSS : SuiviBagages*/
.ChoixSuivi > span,.QuestionVol > span{
    font-size:17px;
    font-style:italic;
}

/*CSS : SuiviBagages*/
.QuestionVol > span{
	line-height:30px;
	vertical-align:middle;
}

/*CSS : SuiviBagages*/
.RadioButton,.RadioButtonSuivi{
    display:flex;
    padding-left:15px;
}

/*CSS : SuiviBagages*/
.RadioButton > span{
    display:block;
}

/*CSS : SuiviBagages*/
.RadioButton > button{
    width:100px;
    line-height:20px;
}

/*CSS : SuiviBagages*/
.RadioButtonSuivi > button{
	width:45px;
	line-height:30px;
}

/*CSS : SuiviBagages*/
.RadioButton > button:first-child,.RadioButtonSuivi > button:first-child{
    margin-right:15px;
}

/*CSS : SuiviBagages*/
.RechercheVolSuivi{
	display:flex;
	flex-direction:column;
	padding-bottom:10px;
}

/*CSS : SuiviBagages*/
.RechercheVolSuivi > div{
	flex-grow:1;
}

/*CSS : SuiviBagages*/
.ProvenanceDestination{
	display:flex;
}

.ProvenanceDestination > div{
	flex-basis:0;
	flex-grow:1;
}

/*CSS : SuiviBagages*/
.JourInput,.HeureInput{
	flex-grow:1;
	flex-basis:0;
	position:relative;	
}

/*CSS : SuiviBagages*/
.JourHeure{
	display:flex;
}

/*CSS : Suivi Bagages*/
.ProvenanceInput,.JourInput{
	flex-grow:1;
	margin-right:10px;
}

/*CSS : Suivi Bagages*/
.JourInput::after, .HeureInput::after {
    position: absolute;
    font-family: 'FontAwesome';
    font-size: 30px;
    right: 10px;
    top: 32px;
}

/*CSS : SuiviBagages*/
.JourInput::after {
    content: "\f073";
}

/*CSS : SuiviBagages*/
.HeureInput::after{
    top:33px;
	content:"\f017";
	transform:rotate(30deg);
}

/*CSS : Recherche-vol + Alerte flash Vol*/
.search-flight, .flash_alert, footer {
    margin: 0;
}

/*CSS : Recherche-vol + Alerte Flash Vol*/
.form-flight-search,.flash_alert-form{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	margin:0px 0px 5px 0px;
}

/*CSS : Recherche vol*/
.form-flight-search{
	flex-direction:column;
}

/*Recherche Vol*/
.DepartsArrivésContainer{
	display:flex;
	justify-content:space-between;
	padding:20px 0px 15px 0px;
}

/*Recherche Vol*/
.WrapperDépartsArrivés {
    display: flex;
}

/*Recherche Vol*/
.DepartsArrivésContainer > div, .WrapperDépartsArrivés > div {
    flex-grow: 1;
}

/*Vols du jour*/
.ArrivesDepartData > tr:last-child > td{
	border-bottom:none;
}

/*Recherche Vol*/
.Departs{
	margin-right:10px;
}

/*Recherche vol*/
.DatePicker{
	margin-left:10px;
	max-width:180px;
}

/*Recherche Vol*/
.DatePickerInput{
	position:relative;
}

/*Recherche Vol*/
.DatePickerInput::after{
	position:absolute;
	font-family:'FontAwesome';
	font-size:25px;
	content:"\f073";
	right:10px;
	top:10px;
	color:#F05F40;
}

/*Recherche Vol*/
#datepicker,.datepicker2{
	background-color:white;
}

/*Recherche Vol*/
.ui-datepicker{
	font-size:15px;
}

/*Recherche Vol*/
.RechercherVol{
	background-color:#337AB7;	
	color:white;
	transition:all 0.3s ease-in-out;
}

/*CSS : Recherche Vol*/
.RechercherVol:hover{
	background-color:rgba(0,0,0,0.9);
	color:white;
	transition:all 0.3s ease-in-out;
}

/*CSS : Rechercher Vol*/
.RechercherVol:focus{
	background-color:black;
	color:white;
}

/*Recherche Vol*/
.Rechercher{
	position:relative;
	line-height:54px;
}

/*Recherche Vol*/
.NoResultVol{
    border-top:none !important;
    font-size:19px !important;
}

/*Recherche Vol*/
#ResultatVolHeader{
	display:flex;
	justify-content: space-between;
    align-items:center;
}

/*Recherche Vol*/
#ResultatVolHeader > .modal-title{
	flex-grow:1;
}

/*Recherche Vol*/
#MessageErreurProvDest{
	display:flex;
	align-items:center;
	position:fixed;
	bottom:10px;
	right:10px;
	padding:20px;
	background-color:#EBC300;
	color:white;
	border-radius:4px;
	z-index:2;
	font-size:18px;
	max-height:70px;
}

/*Recherche Vol*/
#MessageErreurProvDest > i{
	margin-right:15px;
}

/*Recherche Vol*/
.NoResultVol > td{
	border-top:none !important;
}

/*Recherche Vol*/
.switchArrivéeDépart{
	flex-shrink:1;
}

/*Recherche Vol*/
.imgArrDep{
	height:75px;
	width:80px;
}


/*Rechercher Vol*/
.Rechercher::after{
	color:white;
	font-family:'FontAwesome';
	font-size:40px;
	position:absolute;
	content:"\f002";
	top:5px;
	right:15px;
	line-height:54px;
	vertical-align:middle;
}

/*CSS : Alerte Flash Vol + Suivi Bagages*/
.flash_alert-num_vol,.SuiviBagages_form-content{
	flex:0 0 100%;
	flex-wrap:wrap;
	padding-top:10px;
	word-wrap:break-word;
}

/*CSS : Alerte Flash Vol*/
.flash_alert-num_vol{
	padding-bottom:15px;
}

/*CSS : Alerte Flash Vol + Suivi Bagages*/
.search-box {
    color: rgb(45,42,44);
    flex: 1 1 auto;
    font-size: 15px;
    -webkit-box-flex: 1;
}

/*CSS : Suivi Bagages*/
#SuiviButtonVol{
    padding-bottom:15px;
    width:100%;
}

/*CSS : Alerte Flash Vol + Suivi Bagages*/
.search-box-inner {
    display: flex;
    position: relative;
}

/*CSS : Suivi Bagages*/
.BagagesInput{
	display:flex;
}

/*CSS : Suivi Bagages*/
.BagagesBox > h3{
	font-size:19px;
}

/*CSS : Suivi Bagages*/
.BagagesWrapper{
	flex-grow:1;
	position:relative;
}

.BagagesWrapper::before{
	font-family:'FontAwesome';
	font-size:27px;
	position:absolute;
	top:6px;
	left:10px;
	transform:rotate(25deg);
	content:"\f0f2";
}

.BagagesWrapper > input{
	text-indent:35px;
}

/*CSS : Alerte Flash Vol + Suivi Bagages*/
.flash_alert-num_vol-input,.suiviBagages-num_vol-input{
	flex:1 1 auto;
	font-weight:100;
	-webkit-box-flex:1;
}

/*CSS : Alerte flash vol*/
.flash_alert-num_vol-content{
	padding-top:10px;
}

/*CSS : Alerte Flash Vol*/
.buttonAjoutSuppr {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    line-height:34px;
    vertical-align:middle;
}

/*CSS : Alerte Flash Vol*/
.buttonAjoutSuppr > span {
    cursor:pointer;
    font-size:50px;   
}

/*CSS : Alerte Flash Vol*/
.Ajout {
    padding-right:15px;
    color: #1E9E1E;
    vertical-align: middle;
}

/*CSS : Alerte Flash Vol*/
.Ajout:hover {
    text-shadow: 0px 0px 1px #1E9E1E;
}

/*CSS : Alerte Flash Vol*/
.Suppr {
    color: red;
    vertical-align: middle;
}

/*CSS : Alerte Flash Vol*/
.Suppr:hover {
    text-shadow: 0px 0px 1px red;
}

/*CSS : Alerte Flash Vol*/
#EmailTel{
    flex-direction:column;
}

/*CSS : Alerte Flash Vol*/
.messageBox{
    margin-bottom:15px;
}

/*CSS : Alerte Flash Vol*/
.messageBox > div{
    font-size:28px;
    text-align:center;
    transition:all 0.5s ease-in-out;
}

/*CSS : Alerte Flash Vol*/
.messageSuccess{
    color:#1E9E1E;
}

/*CSS : Alerte Flash Vol*/
.messageFail{
    color:red;
}

/*CSS : Alerte Flash Vol*/
.messageBox > div > span{
    margin-right:30px;
}

/*CSS : Vols du jour*/
#vols_du_jour{
	padding:30px 0;
}

/*CSS : Vols du jour*/
form.modal-body > table {
    margin-right: auto;
    margin-left: auto;
}

/*CSS : Vols du jour*/
.ArrivesDepartTitreColumn > th {
    font-size: 17px;
}

/*CSS : Vols du Jour*/
.ArrivesDepartTitreColumn > th, .ArrivesDepartData > tr > td {
    padding: 0px 20px 20px 20px;
    text-align: center;
}

/*CSS : Vols du jour*/
.ArrivesDepartTitreColumn > th:first-child{
    padding-left: 10px;
}

/*CSS : Vols du jour*/
.ArrivesDepartTitreColumn > th:last-child, .ArrivesDepartData > tr > td:last-child {
    padding-right: 10px;
}

/*CSS : Vols du jour*/
.ArrivesDepartData > tr > td:last-child{
    padding-left:20px;
}

/*CSS : Vols du jour*/
.ArrivesDepartData > tr > td {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    padding: 10px 0;
    font-size: 16px;
    line-height: 30px;
}

/*CSS : Vols du jour*/
.logoCompagny > img{
    height:50px;
    width:100px;
}

/*CSS : Vols du jour*/
.bindAlert:hover {
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px #1E9E1E;
}

/*CSS : Vols du jour*/
.logoCompagny {
    padding-bottom: 10px;
}

/*CSS : Vols du jour*/
.modal-body{
    overflow-x:auto;
}

/*CSS : Alerte Flash Vol + Vols du jour + Suivi Bagages*/
.CoteACote {
    font-size: 15px;
    padding: 10px 0;
    word-wrap: break-word;
}

/*CSS : Alerte Flash Vol + Suivi Bagages*/
.coordonnees > .CoteACote{
    margin-top:25px;
}

/*CSS : Alerte Flash Vol + Vols du jour + Suivi Bagages*/
.CoteACote-inner {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

/*CSS : Alerte Flash Vol + Vols du jour*/
.button_dep,.button_arr{
	display:flex;
	flex-grow:1;
}

/*CSS : Alerte Flash Vol*/
.submit{
	margin-top:0px;
}

/*CSS : Alerte Flash Vol*/
.titleNomPrenomFlash{
    display:block;
    margin:15px 0;
    font-size:17px;
    font-style:italic;
}

/*CSS : Vols du jour*/
.button_arr {
    margin-right: 5px;
}

/*CSS : Suivi Bagages*/
.noDisplayGenerique, .noDisplayButton ,.noDisplayMessage{
    height: 0;
    opacity: 0;
    overflow: hidden;
}

/*CSS : Suivi Bagages*/
.displayGenerique, .displayButton, .displayMessage {
    height: 100%;
    opacity: 1;
    overflow: visible;
}

/*CSS : Alerte Flash Vol + Vols du jour*/
.button_dep{
	margin-left:5px;
	margin-right:0px;
}

/*CSS : Alerte Flash Vol + Suivi Bagages*/
.WrapperNom,.WrapperPrénom{
    position:relative;
}

/*CSS : Alerte Flash Vol + Suivi Bagages*/
.WrapperNom::before,.WrapperPrénom::before{
    position:absolute;
    font-family:'FontAwesome';
    font-size:25px;
    left:10px;
    top:11px;
    content:"\f2be";
}

/*CSS : Alerte Flash Vol + Suivi Bagages*/
.WrapperNom > input, .WrapperPrénom > input{
    text-indent:35px;
}

/*CSS : Vols du jour + Alerte flash Vol */
.button_dep_arr_label,.submit-button{
    background-color:#337AB7;
    color:white;
}

/*CSS : Vols du jour*/
.submit-button {
    background-color: gray;
    transition: all 0.3s ease-in-out;
}

/*CSS : Vols du jour*/
.submit-button:hover {
    background-color:rgba(0,0,0,0.9);
    color:white;
    transition: all 0.3s ease-in-out;
}

/*CSS : Vols du jour*/
.button_dep_arr_label{
	background-color:rgba(0,0,0,0.6);
}

/*CSS : Vols du jour*/
.button_dep_arr_label > span{
	margin-left:15px;
}

/*CSS : Vols du jour*/
.button_dep_arr_label > img{
	margin-right:15px;
}

/*CSS : Vols du jour*/
.button_dep_arr_label:hover,.flash_alert-button-label:hover{
	background-color:rgba(0,0,0,0.9);
	color:white;
}

/*CSS : Vols du jour*/
.button_dep_arr_label:focus{
	outline:none;
	background-color:black;
	color:white;
}

/*CSS : Suivi + Alerte flash Vol*/
#suiviAndAlertBox{
	padding-top:20px;
	padding-bottom:20px;
}

/*CSS : Alerte flash vol*/
.coordonnees{
	flex-grow:1;
	font-size:15px;
    padding-bottom:10px;
	word-wrap:break-word;
}

/*CSS : Style pour les inputs*/
.tel,.email, .PrénomInput,.NomInput {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    font-size: 15px;
    -webkit-box-flex: 1;
    position: relative;
}

.NomInput{
	margin-right:10px;
}

/*CSS : Style pour les inputs*/
.email::before,.tel::before,.search-box-inner::before{
	font-family:'FontAwesome';
	font-size:25px;
	position:absolute;
}

/*CSS : Style pour les inputs*/
.email::before{
	left:10px;
	top:11px;
	content:"\f1fa";
}

/*CSS : Style pour les inputs*/
.tel::before{
	left:10px;
	top:12px;
	content:"\f095";
}

/*CSS : Style pour les inputs*/
.search-box-inner::before{
	left:10px;
	top:11px;
	content:"\f072";
	transform:rotate(-45deg);
}

/*CSS : Style pour les inputs*/
.emailInput, .telInput, .suiviBagages-num_vol-input, .flash_alert-num_vol-input {
    text-indent: 35px;
}

/*CSS : News Général*/
.title_news{
	display:flex;
	justify-content:space-between;
}

/*CSS : News Général*/
.hidebutton{
	cursor:pointer;
	color:white;
	display:none;
	line-height:40px;
	vertical-align:middle;
}

/*CSS : News Général*/
.rotate,.news_container{
	transition:all 0.3s ease-in-out;
}

/*CSS : News général*/
.general-news{
	padding-right:10px;
}

/*CSS : News général*/
.title_column_news {
    display: none;
}

/*CSS : News général*/
.news_table{
    border-collapse:collapse;
    width:100%;
}

/*CSS : News Général*/
.news_table > tr > th,.news_table > tr > td{
    padding:0 15px;
}

/*CSS : Météo*/
#météo{
	padding:20px 0px;
}

/*CSS : Météo*/
.title_météo{
	display:flex;
	justify-content:space-between;
	line-height:30px;
}

/*CSS : Météo*/
.title_météo > h2{
	line-height:30px;
	vertical-align:middle;
}

/*CSS : Météo*/
.choixIles{
	display:none;
	padding:5px 10px 5px 10px;
	min-height:30px;
}

/*CSS : Météo*/
.météoWrapper{
	display:flex;
	justify-content:space-between;
}

/*CSS : Météo*/
.météoWrapper > div {
    padding-left: 20px;
    display: block;
    flex-grow: 1;
}

/*CSS : Météo*/
.temperature{
	font-size:22px;
}

/*CSS : Météo*/
.météoContent{
	line-height:50px;
	padding:15px 0;
	position:relative;
}

/*CSS : Météo*/
.météoContent > img{
	position:absolute;
	right:0px;
    vertical-align:middle;
}

/*CSS : Météo*/
.temperature > mark{
	background-color:inherit;
	font-size:20px;
}

/*CSS : Alerte Flash Vol + Recherche Vol*/
#Compagnies,#CompagniesRecherche{
	padding-bottom:10px;
}

/*CSS : Alerte Flash Vol*/
#Compagnies{
    padding-top:10px;
}

/*CSS : Alerte Flash Vol + Recherche Vol*/
#Compagnies > h3,#CompagniesRecherche > h3{
	font-size:18px;
	margin-top:5px;
}

/*CSS : Recherche Vol*/
#zoneRechercheCompagnies > div{
	display:flex;
}

/*CSS : Alerte Flash Vol*/
#CompagniesWrapper{
    display:flex;
    justify-content:space-between;
    padding-top:10px;
}

/*CSS : Alerte Flash Vol*/
#CompagniesWrapper > div{
    flex-grow:1;
}

/*CSS : Alerte Flash Vol*/
.titleFindNumVol{
    padding-bottom:10px;
    font-family:'Tahoma';
}

/*CSS : Alerte Flash Vol*/
#CompagniesList{
    margin-right:10px;
}

/*CSS : Alerte Flash Vol*/
#CompagniesList > h3{
    font-size:16px;
    margin-top:0px;
    margin-bottom:10px;
}

/*CSS : Alerte Flash Vol*/
.DateWrapper > label{
    margin-bottom:10px;
    font-size:16px;
}

/*CSS : Alerte Flash Vol*/
.DateWrapper{
    margin-right:10px;
}

/*CSS : Alerte Flash Vol*/
#DateVol::after{
    color:black;
}

/*CSS : Alerte Flash Vol*/
#DateVol > input{
    margin-bottom:0px;
}

/*CSS : Alerte Flash Vol*/
#DateResultat{
    display:flex;
    justify-content:space-between;
}

/*CSS : Alerte Flash Vol*/
#DateResultat > div{
    flex-grow:1;
}

/*CSS : Alerte Flash Vol*/
.buttonValidate {
    align-self: flex-end;
}

/*CSS : Alerte Flash Vol*/
.buttonValidate > button {
	background-color:#E8E8E8;
    line-height: 19.6px;
    min-height: 55px;
    display:flex;
    align-items:center;
    transition:all 0.3s ease-in-out;
	text-transform:none;
}

/*CSS : Alerte Flash Vol*/
.buttonValidate > button:hover {
    color:white;
    background-color:black;
}

/*CSS : Alerte Flash Vol*/
.buttonValidate > button > i{
    font-size:40px;
}

/*CSS : Alerte Flash Vol*/
#FindResult > .bootstrap-select{
	margin-bottom:15px;
}

/*CSS : Suivi Bagages*/
.ProvenanceInput > .bootstrap-select,.DestinationInput > .bootstrap-select{
    margin-bottom:25px !important;
}


