@font-face{
	font-family:'Segoe UI';
	src:url('../font/segoeui.ttf');
}

@font-face{
	font-family:'Tahoma';
	src:url('../font/Tahoma.ttf');
}

body{
	font-family:'Segoe UI','Tahoma',Verdana;
	min-height:100vh;
	padding:0;
}

header{
	background-image:none;
}

main{
	display:flex;
	flex-direction:column;
	padding:0;
	margin:0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-transition-delay:9999s;
	-webkit-transition:background-color 9999s ease-out;
}

/*Structure Mobile et tablette*/
#search-flight{
	order:1;
}

#météo{
	order:0;
}

#vols_du_jour,#suiviAndAlertBox,.general-news{
	order:2;
}

/*Surcharge bootstrap*/
.bg-primary{
	padding-bottom:20px;
	padding-top:20px;
}

/*Surcharge header*/
.uselessNav{
	display:none;
}

/*Surcharge bootstrap*/
@media screen and (max-width:1000px){
	.container{
		padding:0 15px;
	}
}

/*Surcharge Bootstrap*/
@media screen and (min-width:800px){
	.container{
		width:770px;
	}
}

/*Surcharge Bootstrap*/
@media screen and (min-width:900px){
	.container{
		width:870px;
	}
}

/*Surcharge Bootstrap*/
@media screen and (min-width:1000px){
	.container{
		width:970px;
	}
}

/*Surcharge Bootstrap*/
@media screen and (min-width:1100px){
	.container{
		width:1070px;
	}
}

/*Surcharge Bootstrap*/
@media screen and (min-width:1200px){
	.container{
		width:1170px;
	}
}

/*Surcharge bootstrap*/
@media screen and (min-width:1300px){
	.container{
		width:1270px;
	}
}

/*Sucharge bootstrap*/
@media screen and (min-width:1400px){
	.container{
		width:1370px;
	}
}

/*Surcharge bootstrap*/
@media screen and (min-width:1600px){
	.container{
		width:1570px;
	}
}

/*Surcharge Bootstrap*/
@media screen and (min-width:1800px){
	.container{
		width:1770px;
	}
}

/*Surcharge header --> Vue mobile*/
@media screen and (max-width:640px){
	.myNav{
		align-items:stretch;
		display:flex;
		justify-content:space-between;
		word-wrap:break-word;
	}
	
	.first{
		order:1;
	}
	
	.uselessNav{
		display:block;
		flex-grow:1;
		order:2;
	}
	
	.second{
		order:3;
	}
}

/*CSS : Surchage caroussel*/
#slider{
	padding:0;
}

/*CSS : suivi bagages + Alrte flash Vol*/
.suiviAndAlert{
	display:flex;
	flex-direction:column;
}

/*CSS : suivi bagages*/
.suiviBagages{
	order:2;
	margin:50px 0px 20px 0px;	
}

/*CSS : classe générique*/
.section-heading{
	line-height:25px;
	margin-bottom:10px;
}

.section-heading > span{
	vertical-align: baseline;
}

/*CSS : Suivi bagages*/
.suitcase{
	margin-right:10px;
	vertical-align: baseline;
}

.section-heading-title{
	vertical-align:middle;
}

.plane{
	margin-right:20px;
	transform:rotate(45deg);
	vertical-align:middle;
}

.coordonnees-label{
	color:black;
	line-height:15px;
	margin-bottom:10px;
}

.coordonnees-label > span{
	font-size:18px;
	font-weight:normal;
	vertical-align:baseline;
	white-space:nowrap;
	word-wrap:break-word;
}

.user{
	font-size:25px;
	margin-right:10px;
	vertical-align:baseline;
}


/*CSS : Alerte flash vol*/
.flash-alert{
	order:1;
}

/*CSS : BootStrap surcharge*/
input[type="email"],input[type="tel"],input[type="text"]{
	margin-bottom:0px;
}

/*CSS : Recherche-vol + Alerte flash Vol*/
.search-flight,.flash_alert,footer{
	margin:0;
}

/*CSS : Recherche vol*/
.search-flight{
	padding:20px 0;
}

/*CSS : Recherche-vol + Alerte Flash Vol*/
.form-flight-search,.flash_alert-form{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	margin:0px 0px 5px 0px;
}

/*CSS : Recherche vol*/
.form-flight-search{
	flex-direction:column;
}

/*Recherche Vol*/
.DepartsArrivésContainer{
	display:flex;
	justify-content:space-between;
	padding:20px 0px 15px 0px;
}

/*Recherche Vol*/
.DepartsArrivésContainer > div{
	flex-grow:1;
}

/*Recherche Vol*/
.Departs{
	margin-right:10px;
}

/*Recherche Vol*/
.Provenance-input,.Destination-input{
	line-height:19.6px;
	min-height:55px;
	padding:13px 10px 13px 10px;
}

/*Recherche Vol*/
.RechercherVol{
	background-color:#337AB7;
	border-radius:4px;
	color:white;
	line-height:54px;
	transition:all 0.3s ease-in-out;
}

/*CSS : Recherche Vol*/
.RechercherVol:hover{
	background-color:rgba(0,0,0,0.9);
	color:white;
	transition:all 0.3s ease-in-out;
}

/*CSS : Rechercher Vol*/
.RechercherVol:focus{
	background-color:black;
	color:white;
}

/*Recherche Vol*/
.Rechercher{
	position:relative;
	line-height:54px;
}

/*Rechercher Vol*/
.Rechercher::after{
	color:white;
	font-family:'FontAwesome';
	font-size:40px;
	position:absolute;
	content:"\f002";
	top:5px;
	right:15px;
	line-height:54px;
	vertical-align:middle;
}

/*Surcharge bootstrap*/
.btn{
	text-transform:capitalize;
}

/*Recherche Vol --> Mobile*/
@media screen and (max-width:640px){
	.DepartsArrivésContainer{
		flex-direction:column;
	}

	.Departs{
		margin-right:0px;
	}
}


/*CSS : Alerte Flash Vol + Suivi Bagages*/
.flash_alert-num_vol,.SuiviBagages_form-content{
	flex:0 0 100%;
	flex-wrap:wrap;
	padding:10px 0px 0px 0px;
	word-wrap:break-word;
}

/*CSS : News Général*/
.title_news{
	display:flex;
	justify-content:space-between;
}

/*CSS : News Général*/
.hidebutton{
	cursor:pointer;
	color:white;
	display:none;
	line-height:40px;
	vertical-align:middle;
}

/*CSS : News Général*/
.rotate{
	transition:all 0.3s ease;
}

/*CSS : News Général -> mobile*/
@media screen and (max-width:768px){
	.hidebutton{
		display:block;
	}
	
	.news_container{
		display:none;
	}
}

/*CSS : Alerte Flash Vol*/
.flash_alert-num_vol-content{
	justify-content:space-between;
}

/*CSS : Alerte Flash Vol + Suivi Bagages*/
.flash_alert-num_vol-label,.suiviBagages_num_vol-label{
	flex:0 0 100%;
	font-size:18px;
	font-weight:normal;
	white-space:nowrap;
	word-wrap:break-word;
}

/*CSS : Alerte Flash Vol + Suivi Bagages*/
.flash_alert-num_vol-search_box,.SuiviBagages-num_vol-search_box{
	color:rgb(45,42,44);
	flex:1 1 auto;
	font-size:15px;
	-webkit-box-flex:1;
}

/*CSS : Alerte Flash Vol + Suivi Bagages*/
.flash_alert-num_vol-search_box-inner,.SuiviBagages-num_vol-search_box-inner{
	display:flex;
}

/*CSS : Alerte Flash Vol + Suivi Bagages*/
.flash_alert-num_vol-input,.suiviBagages-num_vol-input{
	flex:1 1 auto;
	font-weight:100;
	min-height:55px;
	padding:13px 10px 13px 10px;
	-webkit-box-flex:1;
}

/*CSS : Vols du jour*/
#vols_du_jour{
	padding:30px 0;
}


/*CSS : Vols du jour --> Mobile + tablette*/
@media screen and (max-width:768px){
	#vols_du_jour{
		padding:30px 0;
	}
}

/*CSS : Alerte Flash Vol + Vols du jour + Suivi Bagages*/
.form-button-departures-arrivals,.flash_alert-coordonnees-wrapper,.SuiviBagages-coordonnees-wrapper{
	display:block;
	flex:0 0 100%;
	font-size:15px;
	padding:10px 0px 10px 0px;
	word-wrap:break-word;
}

/*CSS : Alerte Flash Vol + Vols du jour + Suivi Bagages*/
.form-button-departures-arrivals-inner,.flash_alert-coordonnees-inner,.SuiviBagages-coordonnees-inner{
	display:flex;
	font-size:15px;
	justify-content:space-between;
}

/*CSS : Suivi Bagages*/
.SuiviBagages-coordonnees-inner{
	padding-top:15px;
}

/*CSS : Suivi Bagages*/
.SuiviBagages-nom-label,.SuiviBagages-prénom-label{
	font-weight:normal;
	font-size:16px;
}

/*CSS : Alerte Flash Vol + Vols du jour*/
.button_dep,.button_arr{
	display:flex;
	flex-grow:1;
}

/*CSS : Alerte Flash Vol*/
.flash_alert-submit{
	margin-top:5px;
}

/*CSS : Vols du jour + Suivi Bagages*/
.button_arr{
	margin-right:5px;
}

/*CSS : Suivi Bagages*/
.SuiviBagages-nom{
	margin-right:10px; 
}

/*CSS : Alerte Flash Vol + Vols du jour*/
.button_dep{
	margin-left:5px;
	margin-right:0px;
}

/*CSS : Alerte Flash Vol*/
.flash_alert-tel{
	margin-left:10px;
}

/*CSS : Vols du jour + Alerte flash Vol */
.button_dep_arr_label,.flash_alert-button-label{
	background-color:#337AB7;
	border-radius:4px;
	color:white;
	line-height:54px;
}

/*CSS : Vols du jour*/
.button_dep_arr_label{
	background-color:rgba(0,0,0,0.6);
}

/*CSS : Vols du jour*/
.button_dep_arr_label > span{
	margin-left:15px;
}

/*CSS : Vols du jour*/
.button_dep_arr_label > img{
	margin-right:15px;
}

/*CSS : Vols du jour*/
.button_dep_arr_label:hover,.flash_alert-button-label:hover{
	background-color:rgba(0,0,0,0.9);
	color:white;
}

/*CSS : Vols du jour*/
.button_dep_arr_label:focus{
	outline:none;
	background-color:black;
	color:white;
}

/*CSS : Suivi + Alerte flash Vol*/
#suiviAndAlertBox{
	padding-top:20px;
	padding-bottom:20px;
}

/*CSS : Alerte flash Vol*/
.flash_alert-coordonnees-input,.SuiviBagages-coordonnees-input{
	line-height:19.6px;
	min-height:55px;
	padding:13px 10px 13px 10px;
}

/*CSS : Alerte flash vol*/
.flash_alert-form{
	margin-bottom:0px;
}

/*CSS : Alerte flash vol*/
.flash_alert-coordonnees{
	display:block;
	flex:0 0 100%;
	font-size:15px;
	padding:10px 0px 10px 0px;
	word-wrap:break-word;
}

/*CSS : Vols du jour*/
@media screen and (max-width:768px){
	.button_dep_arr_label > span{
		margin-left:7px;
	}

	/*CSS : Vols du jour*/
	.button_dep_arr_label > img{
		margin-right:7px;
	}
}



/*CSS : SuiviBagages + Alerte Flash Vol*/
.flash_alert-tel,.flash_alert-email,.SuiviBagages-nom,.SuiviBagages-prénom{
	display:flex;
	flex-grow:1;
	flex-direction:column;
	font-size:15px;
	-webkit-box-flex:1;
}

/*CSS : Style pour les inputs*/
.flash_alert-tel,.flash_alert-email,.SuiviBagages-prénom,.SuiviBagages-nom,.flash_alert-num_vol-search_box-inner,.SuiviBagages-num_vol-search_box-inner,.form-recherche-vol-search_box-inner{
	position:relative;
}

/*CSS : Style pour les inputs*/
.flash_alert-email::before{
	font-family:'FontAwesome';
	font-size:25px;
	position:absolute;
	left:10px;
	top:11px;
	content:"\f1fa";
}

/*CSS : Style pour les inputs*/
.flash_alert-tel::before{
	font-family:'FontAwesome';
	font-size:25px;
	position:absolute;
	left:10px;
	top:12px;
	content:"\f095";
	
}

/*CSS : Style pour les inputs*/
.flash_alert-num_vol-search_box-inner::before,.SuiviBagages-num_vol-search_box-inner::before,.form-recherche-vol-search_box-inner::before{
	font-family:'FontAwesome';
	font-size:25px;
	position:absolute;
	left:10px;
	top:11px;
	content:"\f072";
	transform:rotate(-45deg);
}

/*CSS : Style pour les inputs*/
.flash_alert-coordonnees-input,.suiviBagages-num_vol-input,.flash_alert-num_vol-input,.form-recherche-vol_input{
	text-indent:35px;
}

/*CSS : Suivi Bagages*/
.suiviBagages_content{
	padding-right:0px;
}

/*CSS : News général*/
.general-news{
	padding-right:10px;
}

/*CSS : Météo*/
#météo{
	padding:20px 0px;
}

/*CSS : Météo*/
.title_météo{
	display:flex;
	justify-content:space-between;
	line-height:30px;
}

.title_météo > h2{
	line-height:30px;
	vertical-align:middle;
}

/*CSS : Météo*/
.choixIles{
	display:none;
	padding:5px 10px 5px 10px;
	min-height:30px;
}

/*CSS : Météo*/
.choixIles > option:hover{
	background-color:rgba(0,0,240,0.7);
}

/*CSS : Météo*/
.météoWrapper{
	display:flex;
	justify-content:space-between;
}

/*CSS : météo*/
.météoWrapper > #Anjouan{
	padding-left:20px;
}

/*CSS : Météo*/
.météoWrapper > div:not(:first-child){
	padding-left:30px;
}

/*CSS : Météo*/
.météoWrapper > div{
	display:block;
	flex-grow:1;
}

/*CSS : Météo*/
.day,.night{
	line-height:30px;
}

/*CSS : Météo*/
.temperature{
	font-size:22px;
}

/*CSS : Météo*/
.day,.night{
	padding:15px 0;
	position:relative;
}

/*CSS : Météo*/
.day::after,.night::after{
	position:absolute;
	font-size:40px;
	font-family:'weathericons';
	right:0px;
}

/*CSS : Météo*/
.day::after{
	content:"\f00d";
	color:#E9AB17;
}

/*CSS : Météo*/
.night::after{
	content:"\f001";
	color:gray;
}

/*CSS : Météo*/
.temperature > mark{
	background-color:inherit;
	font-size:20px;
}


/*CSS : Météo --> Tablette et mobile*/
@media screen and (max-width:768px){
	.météoWrapper{
		flex-direction:column;
	}

	.météoWrapper > div:not(:first-child){
		padding-left:15px;
	}

	.choixIles{
		display:block;
	}

	.météoWrapper > div{
		display:none;
		padding-right:15px;
	}
}

/*CSS : Suivi Bagages*/
@media screen and (min-width:1000px){
	.suiviBagages_content{
		padding-left:0px;
	}
}

/*CSS : Flash Alert -> PC*/
@media screen and (max-width:1400px){
	.form-wrapper{
		padding-left:0px;
	}
}
/*CSS : Flash Alert -> Mobile + Tablette*/
@media screen and (max-width:1000px){
	.flash_alert-coordonnees-inner,.SuiviBagages-coordonnees-inner{
		flex-direction:column;
	}
	
	.flash_alert-email{
		margin-bottom:5px;
		margin-right:0px;
	}
	
	.flash_alert-tel{
		margin-top:5px;
		margin-left:0px;
	}

	.SuiviBagages-nom{
		margin-bottom:5px;
		margin-right:0px;
	}
	
	.SuiviBagages-prénom{
		margin-top:5px;
		margin-left:0px;
	}
}

/*CSS : alerte --> PC */
@media screen and (min-width:1000px){
	.form-wrapper{
		padding-right:0px;
	}
}

/*CSS : suivi + alerte --> Mobile*/
@media screen and (max-width:640px){
	#suiviAndAlertBox{
		margin-top:0px;
	}
	
	.flash-alert{
		order:1;
		margin-right:0px;
	}
	
	.suiviBagages{
		order:2;
		margin-left:0px;
		margin-top:20px;	 
	}
	
	.suiviBagages_content{
		padding-left:0px;
	}
	
	.form-wrapper{
		padding-right:0px;
	}
}

/*CSS : News général*/
.title_column_news{
	display:none;	
}

/*CSS : Surcharge bootstrap*/
@media screen and (max-width:640px){
	h2{
		font-size:25px;
	}
}

/*CSS : classe fail*/
.fail{
	background-color:rgba(200,0,0,0.3);
	color:red;
	border-color:red;
	font-weight:bold;
}

.fail:hover,.fail:focus{
	border-color:red;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(230, 0, 0, 0.9);
}

/*CSS : class fail2*/
.fail2{
	position:relative;
}

.fail2::after{
	font-family:'FontAwesome';
	font-size:30px;
	position:absolute;
	content:"\f057";
	color:red;
	right:10px;
	top:6px;
}

.fail2 > input:hover,.fail2 > input:focus,.fail2 > input{
	background-color:white;
	border-color:red;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(230, 0, 0, 0.9);
}

/*CSS : class success*/
.success{
	position:relative;
}

.success::after{
	font-family:'FontAwesome';
	font-size:30px;
	position:absolute;
	content:"\f058";
	color:green;
	right:10px;
	top:6px;
}

.success > input:hover,.success > input:focus,.success > input{
	border-color:#1E9E1E;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px #1E9E1E;
}