@media screen and (max-width:440px) {
    .navPageAeroport {
        display:flex;
        align-items:center;
    }
    
    .navPageAeroport > a{
        height:auto;
    }
}

@media screen and (max-width:768px){
    #switchArrivéeDépart{
        align-self: center;
    }
    
    .météoWrapper > div{
        display:block;
    }
    
    #météo > .container{
        flex-direction:column;
    }
    
    #météo > .container > div{
        flex-basis:auto;
    }
    
    #météo > .container > div:first-child{
        padding-bottom:20px;
    }
}
